
.all-news {
    /* border: 1px solid purple; */
    height: auto; width: 90%;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
}
.all-news p {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Work Sans';
    color: var(--cor2);
}
.all-news .ptitle {
    width: max-content;
    background-color: var(--cor6);
    border-radius: 1px;
    padding: 5px 30px 1px 5px;
    margin-bottom: 15px;
    color: var(--cor4);

}
.all-news button {
    background-color: transparent;
    height: auto; width: fit-content;
    border: none;
    border-radius: 10px;
    margin: 20px 0 20px 30px;

    color: var(--cor4);
    font-size: 1.2rem;
    font-weight: 400;
    font-family: 'Work Sans';

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.all-news button:hover {
    text-decoration: underline;
}


.all-news .each-allnews {
    border-bottom: 1px solid var(--cor2);
    height: 250px; width: 85%;
    padding: 25px 0;
}
.all-news .each-allnews .news {
    border-radius: 5px;
    height: 100%; width: 100%;
    padding: 5px 10px 5px 5px;

    display: flex;
    flex-direction: row;

    overflow: hidden;
    transition: background-color 320ms ease-out;
}
.all-news .each-allnews .news .news-img {
    height: 100%; width: 320px;
    min-width: 320px;
    max-width: 320px;
    border-radius: 5px;

    display: flex;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.all-news .each-allnews .news .news-img img {
    height: auto; width: 100%;
    object-fit: cover;
    object-position: bottom center;

    transition: transform 400ms ease-out;
}
.all-news .each-allnews .news:hover .news-img img {
    transform: scale(1.1);
}
.all-news .each-allnews .news:hover {
    background-color: var(--cor6);
}

.all-news .each-allnews .news .news-content {
    width: auto;
    padding: 0 0 15px 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

    overflow: hidden;
}
.all-news .each-allnews .news .news-content p:nth-child(1) {
    font-family: 'Work Sans';
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--cor4);
}
.all-news .each-allnews .news .news-content p:nth-child(2) {
    font-size: 0.9rem;
    font-weight: 300;
    color: var(--cor4);
}

@media (max-width: 575.99px) {
    .all-news {
        width: 100%;
        margin-top: 10px;
        padding-bottom: 40px;
        align-items: center;
    }
    .all-news button {
        border: 1px solid var(--cor3);
        border-radius: 2px;
        padding: 1px 5px 1px 5px;
        margin-left: 0;

        font-size: 1.05rem;
        color: var(--cor4);

        /* grid-column: span 2; */
        /* justify-self: center; */
    }
    .all-news .ptitle {
        display: none;
    }
    .all-news .each-allnews {
        border: none;
        height: auto; width: 100%;
        /* padding: 0; */
    }
    .all-news .each-allnews .news {
        flex-direction: column;
        padding: 0;
    }
    .all-news .each-allnews .news .news-img {
        border-radius: 2px;
        height: 260px; width: 100%;
        min-width: none; max-width: none;
        overflow: hidden;
    }
    .all-news .each-allnews .news .news-content {
        padding: 0 4px;
    }
    .all-news .each-allnews .news .news-content p:nth-child(1) {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 0;
    }
    .all-news .each-allnews .news .news-content p:nth-child(2) {
        font-size: 0.8rem;
    }
}
@media (min-width: 576px) and (max-width: 767.99px) {
    .all-news {
        height: auto; width: 100%;
        margin-top: 40px;
        padding-bottom: 40px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
    }
    .all-news button {
        border: 1px solid var(--cor3);
        border-radius: 2px;
        padding: 1px 5px 1px 5px;
        /* margin-right: 30px; */

        font-size: 1.05rem;
        color: var(--cor4);

        grid-column: span 2;
        justify-self: center;
    }
    .all-news .ptitle {
        display: none;
    }
    .all-news .each-allnews {
        border: none;
        height: 100%; width: 100%;
        padding: 0;
    }
    .all-news .each-allnews .news {
        height: 100%;
        padding: 3px 2px;

        flex-direction: column;
        align-items: center;
    }
    .all-news .each-allnews .news .news-img {
        border-radius: 2px;
        height: 180px; width: 100%;
        min-width: auto; max-width: auto;
        position: relative;
    }
    .all-news .each-allnews .news .news-img img {
        height: 100%; width: 100%;
    }
    .all-news .each-allnews .news .news-content {
        height: auto; width: 100%;
        padding: 0 4px;
    }
    .all-news .each-allnews .news .news-content p:nth-child(1) {
        font-size: 1rem;
        font-weight: 500;
        padding: 10px 0;
    }
    .all-news .each-allnews .news .news-content p:nth-child(2) {
        font-size: 0.72rem;
        font-weight: 400;
        color: var(--cor9);
    }
}
@media (min-width: 768px) and (max-width: 991.99px) {
    .all-news {
        height: auto; width: 100%;
        margin-top: 40px;
        padding-bottom: 40px;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
    }
    .all-news button {
        border: 1px solid var(--cor3);
        border-radius: 2px;
        padding: 1px 5px 1px 5px;
        /* margin-right: 30px; */

        font-size: 1.05rem;
        color: var(--cor4);

        grid-column: span 2;
        justify-self: center;
    }
    .all-news .ptitle {
        display: none;
    }
    .all-news .each-allnews {
        border: none;
        height: 100%; width: 100%;
        padding: 0;
    }
    .all-news .each-allnews .news {
        height: 100%;
        padding: 3px 2px;

        flex-direction: column;
        align-items: center;
    }
    .all-news .each-allnews .news .news-img {
        border-radius: 2px;
        height: 240px; width: 100%;
        min-width: 240px; max-width: none;
        position: relative;
    }
    .all-news .each-allnews .news .news-img img {
        height: 100%; width: 100%;
    }
    .all-news .each-allnews .news .news-content {
        height: auto; width: 100%;
        padding: 0 4px;
    }
    .all-news .each-allnews .news .news-content p:nth-child(1) {
        font-size: 1.2rem;
        font-weight: 500;
        padding: 10px 0;
    }
    .all-news .each-allnews .news .news-content p:nth-child(2) {
        font-size: 0.82rem;
        font-weight: 400;
        color: var(--cor9);
    }
}