
.carousel.next .list .item:nth-child(1) img {
    height: 220px; width: 150px;
    border-radius: 20px;

    position: absolute;
    bottom: 50px;
    left: calc(100% - 415px);

    animation: showImage 0.5s ease-out 1 forwards;
}
@keyframes showImage {
    to {
        height: 100%; width: 100%;
        border-radius: 0;
        bottom: 0;
        left: 0;
    }
}
.carousel.next .thumbnail .item:nth-last-child(1) {
    width: 0px;
    overflow: hidden;
    animation: showThumbnail 0.6s linear 1 forwards;
}
@keyframes showThumbnail {
    to {
        width: 150px;
    }
}
.carousel.next .thumbnail .item:nth-last-child(1) .content {
    opacity: 0;
    animation: thumbContent 0.8s linear 1 forwards 0.6s;
}
@keyframes thumbContent {
    to {
        opacity: 1;
    }
}

/* Config da distância .next da div .thumbnail */
.carousel.next .thumbnail {
    transform: translateX(-265px);  /* traslX .item - width .item */
    animation: transformThumbnail 0.6s linear 1 forwards;
}
@keyframes transformThumbnail {
    to {
        transform: translateX(-415px);
    }
}


/* Config da distância .prev da div .thumbnail */
.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.6s ease-in-out 1 forwards;
}
@keyframes outImage {
    to {
        height: 220px; width: 150px;
        border-radius: 20px;
        bottom: 50px;
        left: calc(100% - 415px);
    }
}

.carousel.prev .thumbnail .item:nth-child(1) {
    width: 0;
    opacity: 0;
    overflow: hidden;
}
.carousel.prev .list .item:nth-child(2) .evento,
.carousel.prev .list .item:nth-child(2) .artista,
.carousel.prev .list .item:nth-child(2) .topic,
.carousel.prev .list .item:nth-child(2) .desc,
.carousel.prev .list .item:nth-child(2) .buttons {
    animation: contentOut 0.6s linear 1 forwards;
}
@keyframes contentOut {
    to {
        opacity: 0;
        filter: blur(20px);
        transform: translateY(-150px);
    }
}
.carousel.prev .thumbnail {
    z-index: 200;
    transform: translateX(-415px);
    animation: transformThumbnailPrev 0.6s linear 1 forwards;
}
@keyframes transformThumbnailPrev {
    to {
        transform: translateX(-265px);
    }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}
.time {
    background-color: var(--cor7);
    height: 4px; width: 0%;
    border-radius: 0 0 1px 0;
    opacity: 0.7;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: width linear;
}

@media screen and (max-width: 575.99px) {
    .carousel.next .thumbnail {
        transform: translateX(-90px);
        animation: transformThumbnail 0.6s linear 1 forwards;
    }
    @keyframes transformThumbnail {
        to {
            transform: translateX(-225px);
        }
    }
    .carousel.next .list .item:nth-child(1) img {
        animation: showImage 0.5s ease-out 1 forwards;

        bottom: 50px;
        left: calc(100% - 240px);
    }
    @keyframes showImage {
        to {
            height: 100%; width: 100%;
            border-radius: 0;
            bottom: 0;
            left: 0;
        }
    }

    .carousel.prev .thumbnail {
        transform: translateX(-225px);
        animation: transformThumbnailPrev 0.6s linear 1 forwards;
    }
    @keyframes transformThumbnailPrev {
        to {
            transform: translateX(-90px);
        }
    }
    @keyframes outImage {
        to {
            height: 200px; width: 135px;
            border-radius: 20px;
            bottom: 50px;
            left: calc(100% - 225px);
        }
    }
}


@media (min-width: 576px) and (max-width: 767.99px) {
    .carousel.next .thumbnail {
        transform: translateX(-250px);
        animation: transformThumbnail 0.6s linear 1 forwards;
    }
    @keyframes transformThumbnail {
        to {
            transform: translateX(-390px);
        }
    }
    .carousel.next .list .item:nth-child(1) img {
        animation: showImage 0.5s ease-out 1 forwards;

        bottom: 50px;
        left: calc(100% - 425px);
    }
    @keyframes showImage {
        to {
            height: 100%; width: 100%;
            border-radius: 0;
            bottom: 0;
            left: 0;
        }
    }

    .carousel.prev .thumbnail {
        transform: translateX(-390px);
        animation: transformThumbnailPrev 0.6s linear 1 forwards;
    }
    @keyframes transformThumbnailPrev {
        to {
            transform: translateX(-250px);
        }
    }
    @keyframes outImage {
        to {
            height: 210px; width: 140px;
            border-radius: 20px;
            bottom: 50px;
            left: calc(100% - 390px);
        }
    }
}