.sobre .sobre-container .sobre-content .sobre-slide {
    height: 100%; width: 60%;

    display: grid;
    overflow: hidden;
}
.sobre .sobre-container .sobre-content .sobre-slide .slide {
    height: 100%; width: 100%;

    display: grid;
    overflow: hidden; 
    grid-area: 1 / 1 / 2 / 2;
}
.sobre .sobre-container .sobre-content .sobre-slide .slide .item {
    border: 2px solid var(--cor4);
    height: 100%; width: 100%;

    display: grid;
    overflow: hidden;
    grid-area: 1 / 1 / 2 / 2;
}
.sobre .sobre-container .sobre-content .sobre-slide .slide .item img {
    height: 100%; width: 100%;
    object-fit: cover;
    object-position: center;
    grid-area: 1 / 1 / 2 / 2;
}
.sobre .sobre-container .sobre-content .sobre-slide .slide .item .content {
    height: 100%; width: 100%;
    padding: 20px 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

    grid-area: 1 / 1 / 2 / 2;
    z-index: 10;
}
.sobre .sobre-container .sobre-content .sobre-slide .slide .item .content p {
    font-family: 'Elaine Sans', 'Poppins', 'Work Sans';
    font-size: 0.98rem;
    font-weight: 300;
    line-height: 20px;
    color: var(--cor5);
    letter-spacing: 0.5px;
    opacity: 0.75;
}


.sobre .sobre-container .sobre-content .sobre-slide .slide.next .item:nth-child(3) img {
    height: 40%;
    border-radius: 50px;
    transform: translateX(-100%);
    filter: blur(10px);
    animation: outImageNext 500ms ease-out 1 forwards;
}
@keyframes outImageNext {
    to {
        border-radius: 0;
        height: 100%;
        filter: blur(0);
        transform: translateX(0);
    }
}
.sobre .sobre-container .sobre-content .sobre-slide .slide.prev .item:nth-child(1) img {
        border-radius: 0;
        height: 100%;
        filter: blur(0);
        transform: translateX(0);
        animation: outImagePrev 500ms ease-out 1 forwards;
}
@keyframes outImagePrev {
    to {
        height: 40%;
        border-radius: 50px;
        transform: translateX(-100%);
        filter: blur(10px);
    }
}


.sobre .sobre-container .sobre-content .sobre-slide .arrows {
    height: 100%; width: 100%;
    padding: 5px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-area: 1 / 1 / 2 / 2;
}
.sobre .sobre-container .sobre-content .sobre-slide .arrows button {
    border: none;
    background-color: transparent;
    height: 30px; width: 30px;
    border-radius: 50%;

    font-family: monospace;
    color: var(--cor1);
    font-weight: 600;
    font-size: 2rem;
    text-shadow: 1px 1px 1px var(--cor4), 1px -1px 1px var(--cor4), -1px 1px 1px var(--cor4), -1px -1px 1px var(--cor4);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.7;
    transition: 0.2s;
    cursor: pointer;
    z-index: 100;
}
.sobre .sobre-container .sobre-content .sobre-slide .arrows.inactive button {
    display: none;
}
.sobre .sobre-container .sobre-content .sobre-slide .arrows button:nth-child(1):hover {
    color: var(--cor3);
    transform: translateX(-3px);
}
.sobre .sobre-container .sobre-content .sobre-slide .arrows button:nth-child(2):hover {
    color: var(--cor3);
    transform: translateX(3px);
}

@media (max-width: 351.99px) {
    .sobre .sobre-container .sobre-content .sobre-slide {
        height: auto; width: 100%;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content {
        padding: 5px 10px;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content p {
        font-family: 'Elaine Sans', 'Poppins', 'Work Sans';
        font-size: 0.64rem;
        line-height: 12px;
    }
}
@media (min-width: 352px) and (max-width: 575.99px) {
    .sobre .sobre-container .sobre-content .sobre-slide {
        height: auto; width: 100%;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content {
        padding: 5px 10px;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content p {
        font-family: 'Elaine Sans', 'Poppins', 'Work Sans';
        font-size: 0.64rem;
        line-height: 12px;
    }
}
@media (min-width: 576px) and (max-width: 767.99px) {
    .sobre .sobre-container .sobre-content .sobre-slide {
        height: auto; width: 100%;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content {
        padding: 10px 15px;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content p {
        font-family: 'Elaine Sans', 'Poppins', 'Work Sans';
        font-size: 0.78rem;
        line-height: 16px;
    }
}
@media (min-width: 768px) and (max-width: 991.99px) {
    .sobre .sobre-container .sobre-content .sobre-slide {
        height: auto; width: 100%;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content {
        padding: 10px 15px;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content p {
        font-family: 'Elaine Sans', 'Poppins', 'Work Sans';
        font-size: 0.88rem;
        line-height: 18px;
    }
}
@media (min-width: 992px) and (max-width: 1279.99px) {
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content {
        padding: 15px 20px;
    }
    .sobre .sobre-container .sobre-content .sobre-slide .slide .item .content p {
        font-family: 'Elaine Sans', 'Poppins', 'Work Sans';
        font-size: 0.94rem;
        line-height: 20px;
    }
}